*{
    margin: 0;
    padding: 0;
    transition: all .2s linear;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background: linear-gradient( #01917d 0%, #77A5F8 100%);
}

h1{
    font-size: 40px;
    margin: 3rem 10.5rem;
    color: #fff;
}

h1 span{
    color: gold;
}

.container{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 2rem;
    margin-bottom: 2rem;
}